body{
  font-family: "montserrat";
}

#title{
  background-color: #72C6E9;
  color: #fff;
}

.container-fluid{
  padding: 3% 15%;
}


h1 {
  font-family: "montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}
.spin-title{
  font-family: "montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
}
.role {
  color: hsl(0, 0%, 28%);
  font-weight: bold;
}

.role {
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear
}
h3{
  font-family: "montserrat";
  font-weight: bold;
}
p{
  color: #8f8f8f;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
/* Navigation bar */

.navbar{
  padding:0 0 4.5rem;

}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "montserrat";
  font-weight: lighter;
}

/* Buttons */
.title-button{
  margin: 5% 3% 5% 0;
}
/*title image*/
.title-image{
  width: 60%;
  animation: bounce 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes bounce{
  from{
      transform: translate3d(0,20px,0);
  }
  to{
      transform: translate3d(0,0,0);
  }
}
/*At a glance*/
#glance-tagline{
  padding:5% 10%;

}
.glance-box{
  text-align: center;
  padding: 5%
}
.glance{
  margin-bottom: 1.2rem;
  color: #72C6E9;
}
.glance:hover{
  color: #8AE972;
}
#spinner{
  padding: 5% 10%;
  text-align: center;
  background-color: #8AE972;
  color: #fff;
}
.profile{
  width: 25%;
}
.trophy{
  width: 25%;
  padding:2.5% 0 0 0;
}
.python-img{
  border-radius: 5%
}
#github{
  text-align: center;
  background-color: #8AE972;
  padding-bottom: 1%;
}
#footer{
  text-align: center;
}
